Repository sparc-software-hust/fmecg-web-server, pull requests merged in 2024-05, with the labels that each got.

#268 feature: issue #32 complete flow websocket chat
  mobile_app/android/gradle.properties
  mobile_app/lib/components/custom_image_view.dart
  mobile_app/lib/constants/api_constant.dart
  mobile_app/lib/main.dart
  mobile_app/lib/networks/api_setup.dart
  mobile_app/lib/networks/socket_channel.dart
  mobile_app/lib/screens/history_screens/history_screen.dart
  mobile_app/lib/screens/news_screens/news_detail_screen.dart
  mobile_app/pubspec.yaml
  server_chat/config/dev.exs
  server_chat/lib/server_chat/utils/helper.ex
  server_chat/lib/server_chat_web/channels/message_channel.ex
  server_chat/lib/server_chat_web/channels/user_socket.ex
  server_chat/lib/server_chat_web/endpoint.ex
  server_chat/lib/server_chat_web/plugs/auth_plug.ex
  server_chat/lib/server_chat_web/router.ex
Labels: mobile, back-end

#272 #38 feature(web): add chart function
  frontend_web/package.json
  frontend_web/src/components/LineChart/LineChart.js
  frontend_web/src/components/Modal/ModalChart.js
  frontend_web/src/components/Table/dataTable.js
  frontend_web/src/pages/Record/recordTable.js
  server-web/controllers/RecordController.js
  server-web/routes/RecordRouter.js
  server-web/services/RecordService.js
  server-web/utils/arrayUtils.js
Labels: front-end, back-end

#282 #55 fix(front-end): fix menu item warning
  frontend_web/src/components/MenuBar/menubar.js
  frontend_web/src/layouts/Sidebar/sidebar.js
Labels: front-end

#284 #56 improve(web): user middleware
  frontend_web/src/components/Modal/ModalControlData.js
  frontend_web/src/constants/index.js
  frontend_web/src/pages/Record/recordTable.js
  frontend_web/src/pages/User/userTable.js
  server-web/middlewares/UserMiddleware.js
  server-web/models/AccountModel/AccountRepository.js
  server-web/models/UserModel/UserRepository.js
  server-web/routes/UserRouter.js
  server-web/services/AuthenService.js
  server-web/services/UserService.js
Labels: front-end, back-end

#274 improve(back-end): issue #60 divide env files into dev and prod
  .gitignore
  frontend_web/.env
  frontend_web/.gitignore
  frontend_web/bin/.env.dev
  frontend_web/bin/.gitignore
  frontend_web/bin/config/index.js
  frontend_web/bin/index.js
  frontend_web/bin/views/home.ejs
  frontend_web/bin/views/index.ejs
  frontend_web/bin/views/main.js
  frontend_web/bin/views/style.css
  frontend_web/package.json
  frontend_web/public/index.html
  frontend_web/src/api/bin.api.js
  frontend_web/src/configs/config.js
  frontend_web/src/layouts/Header/header.js
  frontend_web/src/pages/NotAuth/notauth.js
  server-web/.env.dev
  server-web/.gitignore
  server-web/config/database.js
  server-web/config/sequelize.js
  server-web/migration.js
  server-web/package.json
  server-web/server.js
Labels: front-end, back-end

#293 #63 improve(front-end): update chart multi line and zoom
  frontend_web/package.json
  frontend_web/src/components/LineChart/LineChart.js
  frontend_web/src/components/Modal/ModalChart.js
  frontend_web/src/utils/arrayUtils.js
Labels: front-end

#294 #70 feature(front-end): add user select in device modal
  frontend_web/src/components/Table/dataTable.js
  frontend_web/src/pages/Device/deviceTable.js
  frontend_web/src/pages/Record/recordTable.js
Labels: front-end

#298 improve(mobile): translate to English and update data chart
  mobile_app/lib/components/live_chart.dart
  mobile_app/lib/constants/api_constant.dart
  mobile_app/lib/controllers/ecg_record_controller.dart
  mobile_app/lib/generated/intl/messages_en.dart
  mobile_app/lib/generated/l10n.dart
  mobile_app/lib/l10n/intl_en.arb
  mobile_app/lib/main.dart
  mobile_app/lib/screens/bluetooth_screens/ble_chart_test.dart
  mobile_app/lib/screens/bluetooth_screens/ble_scanning_screen.dart
  mobile_app/lib/screens/bluetooth_screens/ble_screen.dart
  mobile_app/lib/screens/bluetooth_screens/bluetooth_off_screen.dart
  mobile_app/lib/screens/home_screen.dart
  mobile_app/lib/utils/utils.dart
  mobile_app/pubspec.yaml
Labels: mobile

#329 #86 fix(front-end): fix bug UI
  frontend_web/src/components/Modal/ModalControlData.js
  frontend_web/src/layouts/DefaultLayout/DefaultLayout.css
  frontend_web/src/layouts/Header/header.css
  frontend_web/src/layouts/Header/header.js
  frontend_web/src/pages/Device/deviceTable.js
  frontend_web/src/pages/Record/recordTable.js
  frontend_web/src/pages/User/userTable.js
Labels: front-end

#332 #80 feature/patient_doctor_assignment
  frontend_web/src/layouts/Sidebar/sidebar.js
  frontend_web/src/layouts/route.js
  frontend_web/src/pages/PatientDoctorAssignment/pdaTable.js
  frontend_web/src/redux/reducer/pdaSlice.js
  frontend_web/src/redux/store.js
  server-web/controllers/PatientDoctorAssignmentController.js
  server-web/routes/PatientDoctorAssignmentRouter.js
  server-web/services/PatientDoctorAssignmentService.js
Labels: front-end, back-end

#311 #65 improve(back-end): upload Image to google drive
  server-web/.env.dev
  server-web/controllers/UserController.js
  server-web/controllers/uploadImageDriverController.js
  server-web/models/UserModel/UserRepository.js
  server-web/package.json
  server-web/routes/AuthenRouter.js
  server-web/routes/UserRouter.js
  server-web/services/FileService.js
  server-web/services/RecordService.js
  server-web/services/UserService.js
Labels: back-end

#343 Test deploy mix release
  server_chat/.dockerignore
  server_chat/.gitignore
  server_chat/Dockerfile
  server_chat/config/dev.exs
  server_chat/config/prod.exs
  server_chat/config/runtime.exs
  server_chat/lib/server_chat/release.ex
  server_chat/lib/server_chat_web/controllers/github_controller.ex
  server_chat/mix.exs
  server_chat/mix.lock
  server_chat/rel/config.exs
  server_chat/rel/overlays/bin/migrate
  server_chat/rel/overlays/bin/migrate.bat
  server_chat/rel/overlays/bin/server
  server_chat/rel/overlays/bin/server.bat
  server_chat/rel/plugins/.gitignore
  server_chat/rel/vm.args
Labels: deployment

#351 improve(gha): add build server chat to gha
  .github/workflows/docker.yaml
Labels: deployment

#341 #61 feature(front-end): add drawer component
  frontend_web/src/components/Drawer/Drawer.js
  frontend_web/src/components/Drawer/Drawer.scss
  frontend_web/src/components/Table/dataTable.js
  frontend_web/src/components/Table/dataTable.scss
  frontend_web/src/constants/index.js
  frontend_web/src/pages/Device/deviceDetail.js
  frontend_web/src/pages/Device/deviceTable.js
  frontend_web/src/pages/Record/recordDetail.js
  frontend_web/src/pages/Record/recordTable.js
  frontend_web/src/pages/User/userDetail.js
  frontend_web/src/pages/User/userTable.js
  frontend_web/src/redux/reducer/deviceSlice.js
  frontend_web/src/redux/reducer/recordSlice.js
  frontend_web/src/redux/reducer/userSlice.js
  server-web/routes/DeviceRouter.js
  server-web/routes/RecordRouter.js
Labels: front-end

#362 #48 feature(front-end): add record filter
  frontend_web/src/components/Drawer/Drawer.js
  frontend_web/src/components/Table/dataTable.js
  frontend_web/src/pages/Device/deviceTable.js
  frontend_web/src/pages/Home/home.scss
  frontend_web/src/pages/Record/filterRecord.js
  frontend_web/src/pages/Record/record.scss
  frontend_web/src/pages/Record/recordTable.js
Labels: front-end
