Repository sparc-software-hust/fmecg-web-server, pull requests merged in 2024-06, with the labels that each got.

#370 #95 improve(front-end): update device detail
  frontend_web/src/components/Drawer/Drawer.js
  frontend_web/src/pages/Device/deviceDetail.js
  server-web/controllers/DeviceController.js
Labels: front-end

#371 feature(server): issue #23 add new migration flow
  server-web/.sequelizerc
  server-web/config/sequelize.js
  server-web/config/sequelize_config.js
  server-web/migrations/20240602134926-create-account-table.js
  server-web/migrations/20240602135104-create-user-table.js
  server-web/migrations/20240602135339-create-device-table.js
  server-web/migrations/20240602135357-create-device-frequency-table.js
  server-web/migrations/20240602135425-create-news-category-table.js
  server-web/migrations/20240602135445-create-news-table.js
  server-web/migrations/20240602135505-create-patient-doctor-assignments-table.js
  server-web/migrations/20240602135515-create-record-table.js
  server-web/migrations/20240602135519-create-token-table.js
  server-web/models/DeviceFrequencyModel/DeviceFrequencyDTO.js
  server-web/models/NewsModel/NewsDTO.js
  server-web/models/index.js
  server-web/package.json
  server-web/seeders/20240602154327-create-dummy-accounts.js
  server-web/seeders/20240602155942-create-dummy-users.js
  server-web/seeders/20240602160016-create-dummy-devices.js
  server-web/seeders/20240602160024-create-dummy-device-frequency.js
  server-web/seeders/20240602160036-create-dummy-news-categories.js
  server-web/seeders/20240602160040-create-dummy-news.js
  server-web/seeders/20240602160056-create-dummy-patient-doctor-assignments.js
  server-web/seeders/20240602160106-create-dummy-records.js
  server-web/seeders/20240602160109-create-dummy-tokens.js
Labels: back-end

#383 improve(docker): update compose for dev env
  Makefile
  docker-compose-dev.yml
  docker-compose.yml
  server_chat/.gitignore
  server_chat/Dockerfile.dev
  server_chat/config/dev.exs
  server_chat/lib/server_chat/fcm/fcm_token.ex
Labels: back-end

#380 #87 improve(front-end): update chart highlight
  frontend_web/src/components/LineChart/LineChart.js
  frontend_web/src/utils/arrayUtils.js
Labels: front-end

#391 #110 feature(front-end): add bubble chat component
  frontend_web/src/components/BubbleChat/BubbleChat.js
  frontend_web/src/components/BubbleChat/BubbleChat.scss
  frontend_web/src/components/Message/Message.js
  frontend_web/src/layouts/DefaultLayout/DefaultLayout.js
Labels: front-end

#388 #113 improve(front-end): update chart connect api
  frontend_web/src/components/LineChart/LineChart.js
  frontend_web/src/components/Modal/ModalChart.js
  frontend_web/src/constants/index.js
  frontend_web/src/redux/reducer/recordSlice.js
Labels: front-end

#400 #119 fix(front-end): fix data chart match api
  frontend_web/package.json
  frontend_web/src/components/LineChart/LineChart.js
  frontend_web/src/components/Modal/ModalChart.js
Labels: front-end

#396 feature(back-end): insert data to conversations table server chat
  Makefile
  mobile_app/lib/constants/api_constant.dart
  mobile_app/lib/controllers/ecg_record_controller.dart
  mobile_app/lib/controllers/news_controller.dart
  mobile_app/lib/main.dart
  mobile_app/lib/networks/socket_channel.dart
  mobile_app/lib/providers/auth_provider.dart
  mobile_app/lib/screens/chat_screens/chat_screen.dart
  server_chat/lib/server_chat/utils/helper.ex
  server_chat/lib/server_chat_web/channels/message_channel.ex
  server_chat/lib/server_chat_web/channels/user_socket.ex
  server_chat/lib/server_chat_web/controllers/conversations_controller.ex
  server_chat/lib/server_chat_web/controllers/messages_controller.ex
  server_chat/lib/server_chat_web/models/conversation_attachments.ex
  server_chat/lib/server_chat_web/models/conversation_members.ex
  server_chat/lib/server_chat_web/models/conversations.ex
  server_chat/lib/server_chat_web/models/messages.ex
  server_chat/lib/server_chat_web/router.ex
  server_chat/priv/repo/migrations/20240612071019_drop_all_tables_before.exs
  server_chat/priv/repo/migrations/20240612072045_create_new_tables_db_chat.exs
  server_chat/priv/repo/migrations/20240613160447_create_unique_index_conversation_members.exs
Labels: back-end

#406 #123 feature(front-end): add doctor-patient chat page
  frontend_web/src/components/BubbleChat/BubbleChat.js
  frontend_web/src/components/BubbleChat/BubbleChat.scss
  frontend_web/src/components/Message/Message.js
  frontend_web/src/pages/Chat/chat.js
  frontend_web/src/pages/Chat/chat.scss
Labels: front-end

#426 feature(mobile): #129 model chat
  mobile_app/lib/models/assignment.dart
  mobile_app/lib/models/conversation_attachment_model.dart
  mobile_app/lib/models/conversation_member_model.dart
  mobile_app/lib/models/conversation_model.dart
  mobile_app/lib/models/doctor_info.dart
  mobile_app/lib/models/ecg_record_model.dart
  mobile_app/lib/models/hardware_device_model.dart
  mobile_app/lib/models/message_model.dart
  mobile_app/lib/models/session_model.dart
  mobile_app/lib/models/user_model.dart
  proxy/default.conf
  proxy/default_back_end.conf
Labels: mobile

#428 fix(front-end): fix chart display
  frontend_web/src/components/LineChart/LineChart.js
  frontend_web/src/components/Modal/ModalChart.js
  frontend_web/src/layouts/route.js
Labels: front-end
