Repository sparc-software-hust/fmecg-web-server, pull requests merged in 2024-03, with the labels that each got.

#144 improve(mobile): update user profile screen by Hoang
  mobile_app/android/app/build.gradle
  mobile_app/lib/screens/user_screens/user_profile_screen.dart
Labels: mobile

#143 feature(front-end): create table component and modal edit #39
  frontend_web/src/components/Modal/ModalCreate/ModalCreateCourse.js
  frontend_web/src/components/Modal/ModalEdit.js
  frontend_web/src/components/Modal/ModalEdit/ModalEdit.js
  frontend_web/src/components/Modal/ModalEdit/ModalEditChapter.js
  frontend_web/src/components/Modal/ModalEdit/ModalEditCourse.js
  frontend_web/src/components/Modal/ModalEdit/ModalEditQuestion.js
  frontend_web/src/components/Modal/ModalEdit/ModalEditSection.js
  frontend_web/src/components/Modal/ModalEdit/ModalEditUser.js
  frontend_web/src/components/Modal/ModalQuestion.js
  frontend_web/src/components/Table/dataTable.js
  frontend_web/src/components/Table/dataTable.scss
  frontend_web/src/models/manage.table.js
  frontend_web/src/models/table/user.table.js
Labels: front-end

#177 improve(front-end): update layout, route; add notAuth page #46
  frontend_web/package.json
  frontend_web/src/App.js
  frontend_web/src/components/Table/dataTable.js
  frontend_web/src/layouts/DefaultLayout/DefaultLayout.js
  frontend_web/src/layouts/Sidebar/sidebar.js
  frontend_web/src/pages/NotAuth/notauth.js
  frontend_web/src/pages/User/CreateUser.js
  frontend_web/src/routes/route.js
Labels: front-end

#192 update Model
  server-web/models/BloodPressureModel.js
  server-web/models/DeviceModel.js
  server-web/models/HeartRecModel.js
  server-web/models/NewsCategoryModel.js
  server-web/models/NewsModel.js
  server-web/models/PatientDoctorAssignmentModel.js
  server-web/models/RecordModel.js
  server-web/models/TokenModel.js
Labels: back-end

#205 #52 feature(web): user management
  frontend_web/src/api/common.api.js
  frontend_web/src/components/MenuBar/menubar.js
  frontend_web/src/components/Table/dataTable.js
  frontend_web/src/configs/config.js
  frontend_web/src/layouts/AuthProvider/index.js
  frontend_web/src/layouts/DefaultLayout/DefaultLayout.js
  frontend_web/src/layouts/Sidebar/sidebar.js
  frontend_web/src/models/manage.table.js
  frontend_web/src/models/table/user.table.js
  frontend_web/src/redux/reducer/userSlice.js
  frontend_web/src/redux/store.js
  frontend_web/src/route.js
  frontend_web/src/utils/arrayUtils.js
  frontend_web/src/utils/handleApiRequest.js
  frontend_web/src/utils/renderQuestion.js
  server-web/controllers/UserController.js
  server-web/models/UserModel.js
  server-web/routes/UserRouter.js
  server-web/routes/index.js
  server-web/services/UserService.js
  server-web/utils/arrayUtils.js
Labels: front-end, back-end

#203 #43 build home_screen_UI
  mobile_app/assets/images/blood_pressurer.jpg
  mobile_app/assets/images/hearthrate.jpg
  mobile_app/lib/constants/color_constant.dart
  mobile_app/lib/screens/home_screen.dart
Labels: mobile

#219 #75 improve(front-end): create user modal
  frontend_web/src/api/common.api.js
  frontend_web/src/components/Table/dataTable.js
  frontend_web/src/layouts/Sidebar/sidebar.js
  frontend_web/src/layouts/route.js
  frontend_web/src/pages/User/CreateUser.js
  frontend_web/src/redux/reducer/userSlice.js
Labels: front-end

#222 #76 #77 feature(front-end): add loading component and device table
  frontend_web/package.json
  frontend_web/src/components/Loading/Loading.css
  frontend_web/src/components/Loading/Loading.js
  frontend_web/src/components/Table/dataTable.js
  frontend_web/src/layouts/Sidebar/sidebar.js
  frontend_web/src/layouts/route.js
  frontend_web/src/models/manage.table.js
  frontend_web/src/models/table/device.table.js
  frontend_web/src/models/table/user.table.js
  frontend_web/src/pages/Device/deviceTable.js
  frontend_web/src/pages/User/userTable.js
  frontend_web/src/redux/reducer/userSlice.js
Labels: front-end

#228 #83 feature(front-end): add get bin request api
  frontend_web/src/api/bin.api.js
  frontend_web/src/layouts/Header/header.js
  frontend_web/src/pages/Home/home.js
  frontend_web/src/utils/storageUtils.js
Labels: front-end
