Repository sparc-software-hust/fmecg-web-server, pull requests merged in 2024-07, with the labels that each got.

#437 feature(mobile): execute external python file
  mobile_app/android/app/src/main/java/com/example/bluetooth_ecg/MainActivity.java
  mobile_app/android/app/src/main/python/PCG.txt
  mobile_app/android/app/src/main/python/PPG.txt
  mobile_app/android/app/src/main/python/backup_script_bluetooth_classic.py
  mobile_app/android/app/src/main/python/bridge.py
  mobile_app/android/app/src/main/python/script.py
  mobile_app/lib/main.dart
  mobile_app/lib/screens/history_screens/bluetooth_classic_data_exchange_screen.dart
  mobile_app/lib/screens/history_screens/bluetooth_classic_discovery_screen.dart
  mobile_app/lib/screens/history_screens/bluetooth_classic_screen.dart
  mobile_app/lib/screens/history_screens/chart_result_python_screen.dart
  mobile_app/lib/screens/history_screens/pick_files_screen.dart
  mobile_app/lib/screens/main_screen.dart
  mobile_app/pubspec.yaml
Labels: mobile

#449 #136 fix(front-end): fix UI
  frontend_web/bin/views/index.ejs
  frontend_web/src/components/Modal/ModalControlData.js
  frontend_web/src/pages/Account/Detail.js
  frontend_web/src/pages/Account/detail.scss
  frontend_web/src/pages/Chat/chat.js
  frontend_web/src/pages/Chat/chat.scss
  frontend_web/src/pages/PatientDoctorAssignment/pdaTable.js
  frontend_web/src/pages/Record/recordTable.js
Labels: front-end

#466 fix(docker): make server chat running when start
  Makefile
Labels: back-end

#467 improve(docker): update another way run server chat iex
  server_chat/Dockerfile.dev
Labels: back-end

#464 fix(mobile): remove loading dialog
  mobile_app/lib/screens/history_screens/pick_files_screen.dart
Labels: mobile

#470 improve(mobile): analyze code flutter, remove redundant code
  mobile_app/lib/app.dart
  mobile_app/lib/components/live_chart.dart
  mobile_app/lib/main.dart
  mobile_app/lib/screens/bluetooth_screens/ble_chart_test.dart
  mobile_app/lib/screens/bluetooth_screens/ble_scanning_screen.dart
  mobile_app/lib/screens/chat_screens/chat_detail_screen.dart
  mobile_app/lib/screens/history_screens/bluetooth_classic_data_exchange_screen.dart
  mobile_app/lib/screens/history_screens/bluetooth_classic_discovery_screen.dart
  mobile_app/lib/screens/history_screens/bluetooth_classic_screen.dart
  mobile_app/lib/screens/history_screens/chart_result_python_screen.dart
  mobile_app/lib/screens/history_screens/pick_files_screen.dart
  mobile_app/lib/screens/main_screen.dart
  mobile_app/lib/screens/news_screens/news_detail_screen.dart
  mobile_app/lib/utils/utils.dart
Labels: mobile

#469 #137 improve(front-end): update modal add device
  frontend_web/src/components/Modal/ModalControlData.js
  frontend_web/src/pages/Device/deviceTable.js
  frontend_web/src/pages/Device/deviceTable.scss
  frontend_web/src/utils/arrayUtils.js
Labels: front-end

#472 #144 feature(front-end): connect api acpt/rej register
  frontend_web/src/pages/Register/registerTable.js
  frontend_web/src/redux/reducer/registerSlice.js
Labels: front-end

#484 #138 improve(front-end): update connect API search records
  frontend_web/src/api/common.api.js
  frontend_web/src/components/Modal/ModalControlData.js
  frontend_web/src/pages/Record/filterRecord.js
  frontend_web/src/pages/Record/recordTable.js
  frontend_web/src/redux/reducer/recordSlice.js
  frontend_web/src/utils/axios.js
  server-web/controllers/RecordController.js
Labels: front-end

#471 improve(mobile): bloc authen, connectivity, connect back-end with chatgpt
  mobile_app/.gitignore
  mobile_app/lib/app.dart
  mobile_app/lib/constants/api_constant.dart
  mobile_app/lib/constants/chat_message.dart
  mobile_app/lib/constants/chat_user.dart
  mobile_app/lib/controllers/auth_controller.dart
  mobile_app/lib/controllers/user_controller.dart
  mobile_app/lib/features/authentication/bloc/authentication_bloc.dart
  mobile_app/lib/features/authentication/bloc/authentication_event.dart
  mobile_app/lib/features/authentication/repository/authentication_repo.dart
  mobile_app/lib/features/authentication/repository/shared_pref_repo.dart
  mobile_app/lib/features/authentication/view/login2_screen.dart
  mobile_app/lib/features/internet/internet_bloc.dart
  mobile_app/lib/features/internet/internet_event.dart
  mobile_app/lib/features/internet/internet_state.dart
  mobile_app/lib/main.dart
  mobile_app/lib/networks/socket_channel.dart
  mobile_app/lib/providers/auth_provider.dart
  mobile_app/lib/providers/user_provider.dart
  mobile_app/lib/screens/auth_screens/login1_screen.dart
  mobile_app/lib/screens/chat_screens/chat_detail_screen.dart
  mobile_app/lib/screens/chat_screens/chat_screen.dart
  mobile_app/lib/screens/home_screen.dart
  mobile_app/lib/screens/main_screen.dart
  mobile_app/lib/screens/user_screens/user_profile_screen.dart
  mobile_app/lib/utils/utils.dart
  mobile_app/pubspec.yaml
Labels: mobile

#490 fix(mobile): update api, remove log
  mobile_app/lib/constants/api_constant.dart
  mobile_app/lib/features/authentication/bloc/authentication_bloc.dart
  mobile_app/lib/features/authentication/repository/authentication_repo.dart
  mobile_app/lib/features/authentication/repository/shared_pref_repo.dart
  mobile_app/lib/providers/auth_provider.dart
  mobile_app/lib/screens/user_screens/user_profile_screen.dart
Labels: mobile

#492 fix(web): fix record response
  frontend_web/public/locales/vi.json
  frontend_web/src/components/Modal/ModalChart.js
  server-web/controllers/RecordController.js
  server-web/services/RecordService.js
Labels: front-end, back-end

#495 feature(mobile): build app
  mobile_app/android/app/build.gradle
  mobile_app/android/app/google-services.json
  mobile_app/android/app/src/debug/AndroidManifest.xml
  mobile_app/android/app/src/main/AndroidManifest.xml
  mobile_app/android/app/src/main/java/com/example/bluetooth_ecg/MainActivity.java
  mobile_app/android/app/src/profile/AndroidManifest.xml
  mobile_app/lib/app.dart
  mobile_app/pubspec.yaml
Labels: mobile

#496 improve(desktop): save user data login into provider
  .github/workflows/auto_publish_app.yaml
  mobile_app/README.md
  mobile_app/android/app/src/main/AndroidManifest.xml
  mobile_app/lib/controllers/user_controller.dart
  mobile_app/lib/features/authentication/bloc/authentication_bloc.dart
  mobile_app/lib/features/authentication/repository/authentication_repo.dart
  mobile_app/lib/models/user_model.dart
  mobile_app/lib/providers/user_provider.dart
  mobile_app/lib/screens/user_screens/user_profile_screen.dart
  mobile_app/pubspec.yaml
Labels: mobile

#497 feature(mobile): deploy app to play console with closed testing
  .github/workflows/auto_publish_app.yaml
  mobile_app/android/gradle.properties
  mobile_app/lib/screens/user_screens/user_profile_screen.dart
  mobile_app/pubspec.yaml
Labels: mobile

#502 improve(gha): add workload instead of service account
  .github/workflows/gcloud.yaml
  mobile_app/lib/screens/user_screens/user_profile_screen.dart
  mobile_app/pubspec.yaml
Labels: deployment

#503 improve(gha): issue #152 cache python chaquopy
  .github/workflows/auto_publish_app.yaml
  mobile_app/android/app/build.gradle
  mobile_app/android/app/requirements.txt
  mobile_app/lib/screens/user_screens/user_profile_screen.dart
  mobile_app/pubspec.yaml
Labels: mobile, deployment

#504 #145 improve(front-end): update edit device detail
  frontend_web/public/locales/en.json
  frontend_web/public/locales/vi.json
  frontend_web/src/components/Modal/ModalControlData.js
  frontend_web/src/constants/index.js
  frontend_web/src/pages/Device/deviceDetail.js
  frontend_web/src/pages/Device/deviceTable.js
  frontend_web/src/redux/reducer/deviceSlice.js
Labels: front-end

#507 improve(gha): change workflow build docker
  .github/workflows/docker.yaml
Labels: deployment
