Repository sparc-software-hust/fmecg-web-server, pull requests merged in 2024-04, with the labels that each got.

#232 fix(mobile): warning all projects
  mobile_app/lib/app.dart
  mobile_app/lib/components/submit_button.dart
  mobile_app/lib/controllers/ecg_data_controller.dart
  mobile_app/lib/controllers/ecg_record_controller.dart
  mobile_app/lib/controllers/firebase_messages_controller.dart
  mobile_app/lib/features/authentication/view/login2_screen.dart
  mobile_app/lib/main.dart
  mobile_app/lib/providers/auth_provider.dart
  mobile_app/lib/screens/bluetooth_screens/ble_chart_test.dart
  mobile_app/lib/screens/bluetooth_screens/ble_scanning_screen.dart
  mobile_app/lib/screens/bluetooth_screens/ble_screen.dart
  mobile_app/lib/screens/home_screen.dart
  mobile_app/lib/screens/main_screen.dart
  mobile_app/lib/screens/user_screens/user_profile_screen.dart
Labels: mobile

#244 improve(mobile): issue #11 update python and flutter version to 3.16.9
  mobile_app/.gitignore
  mobile_app/README.md
  mobile_app/android/app/build.gradle
  mobile_app/android/app/local.properties
  mobile_app/android/app/src/main/AndroidManifest.xml
  mobile_app/android/app/src/main/java/com/example/bluetooth_ecg/MainActivity.java
  mobile_app/android/app/src/main/python/1701789950297.csv
  mobile_app/android/app/src/main/python/93 66 87 trang.txt
  mobile_app/android/app/src/main/python/native.py
  mobile_app/android/app/src/main/python/script.py
  mobile_app/android/app/src/profile/AndroidManifest.xml
  mobile_app/android/build.gradle
  mobile_app/android/gradle.properties
  mobile_app/android/gradle/wrapper/gradle-wrapper.properties
  mobile_app/lib/components/live_chart.dart
  mobile_app/lib/screens/bluetooth_screens/ble_chart_test.dart
  mobile_app/lib/screens/home_screen.dart
  mobile_app/lib/screens/main_screen.dart
  mobile_app/lib/screens/user_screens/user_profile_screen.dart
  mobile_app/lib/text/caculate_blood_pressure.txt
  mobile_app/lib/text/script.txt
  mobile_app/lib/utils/utils.dart
  mobile_app/pubspec.yaml
Labels: mobile

#254 #28 improve(front-end): update user table
  frontend_web/src/api/common.api.js
  frontend_web/src/components/Table/dataTable.js
  frontend_web/src/models/table/device.table.js
  frontend_web/src/models/table/user.table.js
  frontend_web/src/redux/reducer/deviceSlice.js
  frontend_web/src/redux/reducer/userSlice.js
  frontend_web/src/utils/arrayUtils.js
  server-web/models/UserModel/UserRepository.js
  server-web/services/UserService.js
Labels: front-end

#251 improve: update auth plug for preparing validate token
  server_chat/lib/server_chat_web/controllers/conversations_controller.ex
  server_chat/lib/server_chat_web/controllers/messages_controller.ex
  server_chat/lib/server_chat_web/plugs/auth_plug.ex
  server_chat/lib/server_chat_web/router.ex
Labels: back-end

#258 feature(back-end): add auth plug to validate token when request
  server_chat/config/dev.exs
  server_chat/lib/server_chat/utils/api_handler.ex
  server_chat/lib/server_chat_web/controllers/messages_controller.ex
  server_chat/lib/server_chat_web/plugs/auth_plug.ex
Labels: back-end

#257 #29 improve(front-end): update login and signup page
  frontend_web/bin/views/index.ejs
  frontend_web/bin/views/style.css
Labels: front-end
